

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url(./background.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keyboard {
  margin: 0 auto;
  width: 650px;
}

.key {
  width: 40px;
  margin: 5px;
}

.red {
  background-color:red;
}
.green {
  background-color:green;
}
.purple {
  background-color:rebeccapurple;
}

.pendu {
  margin: 0 auto;
  width: 1000px; 
}

.letter {
  font-family: monospace;
  font-size: 100px;
  font-weight: bold;
  padding-left: 10px;
  color: #8355dc;
}

.mask {
  text-align: center;
  margin-bottom: 100px;
}

.again {
  margin: 10px;
}

.goodjob {
  border-radius: 5%;
}


.shadowWin {
  color: yellow;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
               5px 5px 1px orange,
               6px 6px 2px rgba(0,0,0,0.7),
               10px 10px 1px red,
               11px 11px 2px rgba(0,0,0,0.7),
               15px 15px 1px purple,
               16px 16px 2px rgba(0,0,0,0.7);
  -webkit-animation: text-snake 1s infinite alternate;
  -moz-animation: text-snake 1s infinite alternate;
  -ms-animation: text-snake 1s infinite alternate;
  animation: text-snake 1s infinite alternate;      
}

/* other prefixed animation blocks ommitted for brevity */

@keyframes text-snake {
 from {
   text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
               5px 5px 1px orange,
               6px 6px 2px rgba(0,0,0,0.7),
               10px 10px 1px red,
               11px 11px 2px rgba(0,0,0,0.7),
               15px 15px 1px purple,
               16px 16px 2px rgba(0,0,0,0.7);
 }
 to {
   text-shadow: -1px 1px 2px rgba(0,0,0,0.7),
               -5px 5px 1px orange,
               -6px 6px 2px rgba(0,0,0,0.7),
               -10px 10px 1px red,
               -11px 11px 2px rgba(0,0,0,0.7),
               -15px 15px 1px purple,
               -16px 16px 2px rgba(0,0,0,0.7);
 }
}